* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {

    background-color: white;
    position: relative;
    padding-bottom: 10em;
   

}


.colornav {
    background-color: #CCDFB6;

}

.menu ul li a {
    font-size: 20px;
    font-style: normal;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-right: 10px;

}

.contenedorimagenes {
    align-items: center;
    padding: 20px;
}

#galeriaprincipal .col-lg-4 {
    padding: 25px;
}

#galeriaprincipal img {
    width: 100%;
    height: 280px;
    
}

figcaption {
    text-align: center;

}

.text-main {
    text-align: center;
}

.titulo {
    color: rgb(53, 137, 38);
}

.parrafo {
    margin: 70px;
    border: 1px solid forestgreen;

}

.parrafo p {
    font-size: 20px;
    font-style: normal;

}

footer {
    background-color: #CCDFB6;
    text-align: center;
    position: absolute;
    bottom: 0; 
    width: 100%;
    height: auto;
}

footer h2 {
    font-size: 15px;
    text-align: center;
}



/*pseudoclases*/
a:link {
    color: #0d0d0d;
}

a:visited {
    color: #CCDFB6;

}

.contacto1 {
    width: 500px;
    height: 800px;
    background-color: #CCDFB6;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-style: normal;
    color: black;
}

.contacto1 .titulocontacto {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.contacto1 .contacto {
    width: 100%;
    background-color: rgb(201, 207, 200);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid grey;
    font-style: normal;
    font-size: 18px;

}

.contacto1 .mensaje {
    font-size: 20px;
}

.contacto1 .textarea {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid grey;
}

.contacto1 .botones {
    width: 100%;
    background-color: beige;
    border: none;
    padding: 10px;
    color: rgb(18, 87, 26);
    margin: 5px 0;
    font-size: 16px;

}

.contenedorgaleriafunciones {
    align-items: center;
    padding: 20px;
    
}

#galeriafunciones .col-lg-3 {
    padding: 50px;
}

#galeriafunciones img {
    width: 100%;
    height: 230px;
    box-shadow: rgba(60, 105, 42, 0.87) 0px 5px 15px;
}

.contenedorfunciones {
    align-items: center;
    padding: 20px;
}

.contenedorfunciones p {
    padding: 8px;
    text-align: center;
    font-size: 18px;
}

.registro {
    width: 400px;
    background-color: #CCDFB6;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: black;
}

.registro .titulo2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.registro .micuenta {
    width: 100%;
    background: rgb(201, 207, 200);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid gray;
    font-family: serif;
    font-size: 18px;
}

.registro p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.registro.iniciosesion {
    color: #010101;
    font-size: 15px;
    text-align: center;
}

.registro .boton {
    width: 100%;
    background: beige;
    border: none;
    padding: 10px;
    color: rgb(18, 87, 26);
    margin: 10px 0;
    font-size: 16px;
}


.contenedorlista{
    width: 400px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    border-radius: 4px;
    background-color: #CCDFB6;
}

.titulolista{
    text-align: center;
    font-size: 30px;
    color: black;
}
.contenedordeinputs{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.divinputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inputstext{
    width: 60%;
    height: 40px;
    border: 1px solid green;
    color: rgb(0, 0, 0);
}

.botoninputs{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: #0d0d0d;
    color: #CCDFB6;
    cursor: pointer;
}

.contenedorlista2{
    width: 100%;
}

.contenedortareas1{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    margin-top: 10px ;
}



.casillaverificacion{
    position: relative;
    left: 10px;
    
}

.tareas{
    position: relative;
    left: 5px;
    color: rgb(15, 15, 15);
    align-items: center;
    padding: 20px;
  
}

.botoneliminartareacont{
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10px;
}

.botoneliminar{
    border: 0;
    background: 0;
    align-items: center; 
    position: relative;
}

.fas{
    font-size: 30px ;

}

.mensaje-error{
    color: red;
}

.completada{
    color: rgb(88, 165, 88);
}

.mensaje-error-tarea{
    color: red;
}